<button *ngIf="mode !== 'edit'" (click)="mode = 'edit'">Edit</button>
<ng-container *ngIf="mode === 'view'">
  <h1>{{ context.title }}</h1>

  <strong>{{ context.description }}</strong>
  <div [innerHTML]="text"></div>

  <div *ngIf="context.file && context.file.download">
    <h3>Download file</h3>
    <a href="#" [download]="context.file" (onDownloaded)="downloaded=true">
      {{ context.file.filename }}
    </a>
    <span *ngIf="downloaded">Download done</span>
  </div>
  <div *ngIf="context.subjects && context.subjects.length">
    <h3 *ngIf="context.subjects && context.subjects.length > 0">Subjects</h3>
    <ul>
      <li *ngFor="let subject of context.subjects">
        {{subject}}
      </li>
    </ul>
  </div>
  <plone-comments></plone-comments>
  <h3>Workflow</h3>
  <plone-workflow></plone-workflow>
</ng-container>
<ng-container *ngIf="mode === 'edit'">
  <plone-edit></plone-edit>
</ng-container>
