<div class="container">
  <header>
    <p>Status:
      {{ loading }} {{ error }}
    </p>
  </header>
  <nav>
    <ul>
      <li *ngIf="!logged"><a traverseTo="@@login">Log in</a></li>
      <li *ngIf="logged"><a href="#" (click)="logout($event)">Log out</a></li>
      <li><a traverseTo="@@request-password-reset">Request password reset</a></li>
    </ul>
    <div>
      <h2>Custom global navigation</h2>
      <custom-navigation></custom-navigation>
    </div>
    <div>
      <h2>Local navigation</h2>
      <plone-navigation [root]="-1" [depth]="2"></plone-navigation>
    </div>
  </nav>
  <main>
    <h3>Breadcrumbs</h3>
    <custom-breadcrumbs></custom-breadcrumbs>
    <traverser-outlet></traverser-outlet>
  </main>
</div>
